db.host=jdbc:mysql://localhost/your_database_name
db.username=normally root. Can be any mysql user with full access to the database
db.password=users password
class.dbconstructor=fully qualified class name implementing the DatabaseConstructor interface
