<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Application context definition for JPetStore's business layer.
  - Contains bean references to the transaction manager and to the DAOs in
  - dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
           
        

  
  <bean name="notificationServlet" class="org.vuphone.wwatch.notification.NotificationServlet">
    <property name="parser" ref="notificationParser"/>
    <property name="handlers">
     <map>
        <entry>
            <key>
                <value>accident</value>
            </key>
            <ref bean="accidentHandler" />
        </entry>
        <entry>
        	<key>
        		<value>info</value>
        	</key>
        	<ref bean="infoHandler" />
        </entry>
        <entry>
        	<key>
        		<value>contact</value>
        	</key>
        	<ref bean="contactHandler" />
        </entry>
        <entry>
        	<key>
        		<value>route</value>
        	</key>
        	<ref bean="routeHandler" />
        </entry>
        <entry>
        	<key>
        		<value>image</value></key>
        	<ref bean="imageHandler" /></entry>
     </map>
    </property>
  </bean>
  
  <bean name="notificationParser" class="org.vuphone.wwatch.notification.NotificationParser"/>

  <bean name="accidentHandler" class="org.vuphone.wwatch.accident.AccidentHandler">
    <property name="parser" ref="accidentParser"/>
  </bean>
  
  <bean name="infoHandler" class="org.vuphone.wwatch.inforeq.InfoHandler" />
  
  <bean name="contactHandler" class="org.vuphone.wwatch.contacts.ContactUpdateHandler" />
  
  <bean name="accidentParser" class="org.vuphone.wwatch.accident.AccidentParser"/>
  
  <bean name="routeHandler" class="org.vuphone.wwatch.routing.RouteNotificationHandler"/>
  
  <bean	name="imageHandler" class="org.vuphone.wwatch.media.ImageHandler">
</bean>


</beans>